{% extends "base.html.twig" %}
{% block titre %}Livre {{book.nom}} {% endblock %}

{% block contenu %}
<div class="row m-2">
    <div class="col-6">
        <h2>Informations</h2>
        <div>Author :{{book.auteur}} </div>
        <div>nbre de pages : {{book.nbrPages}}</div>
        <img src="https://picsum.photos/200/200" alt="">
    </div>
    <div class="col-6">
        <h2>resumés du Livre:</h2>
        <div>{{book.description}}</div>
    </div>
</div>
{% endblock %}
